@charset "UTF-8";
/* bodyの背景の色、文字の変更 */
body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

picture {
    
    max-width: 60px;
    min-width: 30px;
    max-height: 60px;
    min-height: 30px;
    /*良い感じに画像の大きさ自動で調整できるプログラム探してます*/
}

/* 見出しと段落上のマージンをなくす */
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

h1 {
    font-family: 'Bitter',serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

h2 {
    font-family: 'Bitter',serif;
    font-size: 24px;
}

/* 画像下の余白をなくす */
img {
    vertical-align: bottom;
}

/* リストの余白をなくす */
ul {
    margin: 0;
    padding: 0;
}

/* 文字の色分け */
a {
    color: #3583aa;
}

/* 訪れたところの色を変える */
a:visited {
    color: #788d98;
}

/* リンク文字の下線表示/非表示 */
a:hover {
    text-decoration:underline;
}

/* ヘッダーの大きさと位置調整 */
header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

/* classのlogoに変更を加える */
.logo {
    float: left;
    margin-top: 50px;
}

/* classのglobal-navに変更を加えるst */
.global-nav {
    float:right;
    margin-top: 60px;
}

.global-nav li {
    float:left; /* 横並びにする */
    margin: 0 20px; /* 余白 */
    font-size: 20px;  /* サイズ */
    list-style: none; /* . をなくす */
    font-family: 'Bitter',serif; /* フォント */
}

.global-nav li a {
    color: #ffffff;
}

.global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}
/* classのglobal-navに変更を加えるfn */

/* コンテンツエリアのプロパティst */
#wrap {
    clear:both;
    background-color: #ffffff;
    margin-top: 250px;
    padding: 35px 0;
}

.content {
    width :960px;
    margin: 0 auto;
}
/* コンテンツエリアのプロパティfn */

/* 見出し */
#index h1 {
    font-size: 60px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter',serif;
    margin-bottom: 60px;
    border: none;
}

#index .content {
    margin-top: 50px;
}

#index p {
    font-size: 16px;
    color:#ffffff
}

.btn a {
    background-color: #0380ad;
    color:#ffffff;
    font-size: 25px;
    font-family: 'Bitter',serif;
    text-decoration: none;
    width: 185px;
    display: block; /* widthだけだと調整できないが、ここで無理やり指定 */
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px; /* 枠を曲げる */
    border: 3px solid #ffffff; /* 左から、width,style,color */
}

.btn a:hover {
    text-decoration: none;
    background-color: #76e1fc;
    color:#009cd3;
}

#index {
    background-image: url(../images/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;   
}

/* profile部分のcss */
#about {
    background-image: url(../images/bg-about.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

.main-center {
    width: 940px;
    margin: 0 auto;
}

/* profileの横の緑色のやつ */
.icon::before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

section {
    margin-bottom: 35px;
}

#about .practiceschedule th {
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border: 1px solid #cccccc;
}

#about .practiceschedule td {
    width: 660px;
    text-align: center;
    border: 1px solid #cccccc;
}

#about .tournamentsituation th {
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border: 1px solid #cccccc;
}

#about .tournamentsituation td {
        width: 660px;
    text-align: center;
    border: 1px solid #cccccc;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

#index  #wrap {
    clear:both;
    background-color: #ffffff;
    margin-top: 250px;
    padding: 35px 0;
}

#contact {
    background-image: url(../images/bg-contact.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#contact .access table {
    float: left;
}

#contact .access th,
#contact .access td {
    text-align: left;
    vertical-align: top;
    line-height: 2.5;
}

#contact .access td {
    padding-left: 30px;
}

#contact .access iframe {
    width: 460px;
    float: right;
}

#contact .form {
    background-color: #eaeaea;
    padding: 30px 50px;
}

#contact .form dl dt {
    width: 165px;
    padding: 10px 0;
    float: left;
    clear:both
}

#contact .form dl dd {
    padding: 10px 0;
}

#contact .form .name {
    width: 240px;
    height: 30px;
}

#contact .form .type {
    width: 180px;
    height: 30px;
}

#contact .form .message {
    width: 660px;
    height: 150px;
}

#contact .form .btn {
    background-color: #0380ad;
    color:#ffffff;
    font-size: 20px;
    font-family: 'Bitter',serif;
    text-decoration: none;
    width: 120px;
    display: block; /* widthだけだと調整できないが、ここで無理やり指定 */
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 165px;
    border-radius: 5px; /* 枠を曲げる */
    border: 3px solid #ffffff; /* 左から、width,style,color */
}

#contact .form .btn:hover {
    text-decoration: none;
    background-color: #76e1fc;
    color:#009cd3;
    cursor: pointer;
}

#contact .form .required::after {
    content: " ＊ ";
    color: #ff0000;
}

#contact .form .attention {
    margin-top: 20px 0 0 165px;
}

.insta_btn {
    display: inline-block;
    text-align: center;/*中央揃え*/
    color: #2e6ca5;/*文字色*/
    font-size: 20px;/*文字サイズ*/
    text-decoration: none;/*下線消す*/
  }
  
  .insta_btn:hover {/*ホバー時*/
    color:#668ad8;/*文字色*/
    transition: .5s;/*ゆっくり変化*/
  }
  
  .insta_btn .insta{/*アイコンの背景*/
    position: relative;/*相対配置*/
    display: inline-block;
    width: 50px;/*幅*/
    height: 50px;/*高さ*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    border-radius: 13px;/*角丸に*/
  
  }
  
  .insta_btn .insta:before{/*グラデーションを重ねるため*/
    content: '';
    position: absolute;/*絶対配置*/
    top: 23px;/*ずらす*/
    left: -18px;/*ずらす*/
    width: 60px;/*グラデーションカバーの幅*/
    height: 60px;/*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
  }
  
  .insta_btn .fa-instagram {/*アイコン*/
    color: #FFF;/*白に*/
    position: relative;/*z-indexを使うため*/
    z-index: 2;/*グラデーションより前に*/
    font-size: 35px;/*アイコンサイズ*/
    line-height: 50px;/*高さと合わせる*/
  }